include LICENSE README.md CHANGELOG.md
recursive-include docs *
recursive-include tests *
recursive-include pyxsdata *


exclude zensical.toml
exclude ruff.toml
exclude ty.toml
exclude .pre-commit-config.yaml

global-exclude .DS_Store *.pyc
